@font-face {
  font-family: sfmono-regular;
  src: url(fonts/SFMono-Regular.otf)
}

@font-face {
  font-family: halifax-bold;
  src: url(fonts/Halifax\ W03\ Bold.otf)
}

body {
  background-color: #101C2C;
}

.designed {
  font-family: sfmono-regular;
  text-align: center;
  color: #5EF1CF;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word; 
  padding-top: 40px;
}

.movie-finder {
  font-family: halifax-bold;
  text-align: center;
  color: #CAD4F2;
  font-size: 50px;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 20px;
  padding-bottom: 50px
}

#search-container {
  text-align: center;
  margin: 40px 0;
}

#search-input {
  padding: 15px;
  font-size: 19px;
  width: 100%;
  font-family: sfmono-regular;
  max-width: 370px;
  border: 1px solid #5EF1CF;
  outline: none;
  margin-bottom: 10px;
  background-color: #101C2C;
  color: white;
  text-align: center;
  transition: border 0.2s ease-in-out;
}

#search-input:hover {
  border: 2px solid #fff;
}


::placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
}

#line-img {
  position: fixed;
  bottom: -60px;
  left: 0;
  margin-left: 80px;
}

#github-img {
  position: fixed;
  bottom: 140px;
  left: 0;
  margin-left: 57px;
  width: 45px;
  height: 45px;
  transition: filter 0.1s ease;
  transition: transform 0.3s ease;
}

#imdb-img {
  position: fixed;
  margin-left: 59px;
  width: 45px;
  height: 45px;
  bottom: 210px;
  left: 0;
  transition: filter 0.1s ease;
  transition: transform 0.3s ease;
}

#imdb-img:hover {
  filter: invert(85%) sepia(10%) saturate(2100%) hue-rotate(150deg);
  transform: translateY(-3px);
}

#github-img:hover {
  filter: invert(85%) sepia(10%) saturate(2100%) hue-rotate(150deg);
  transform: translateY(-3px);
}

#search-button {
  display: block;
  margin: 5px auto 0;
  padding: 12px;
  font-size: 14px;
  background-color: #101C2C;
  color: #fff;
  font-family: sfmono-regular;
  border: 1px solid #5EF1CF;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 150px;
  transition: border 0.2s ease-in-out;
}

#search-button:hover {
  border: 2px solid #fff;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: sfmono-regular;
  text-align: center;
  color: white;
}

.movie {
  width: 300px;
  background-color: #101C2C;
  margin: 20px;
  padding: 20px;
  border: 1px solid #5EF1CF;
}

.movie h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie h2 a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}

.movie h2 a:hover {
  color: #5EF1CF;
}

.movie p {
  font-size: 14px;
  margin-bottom: 10px;
}

.movie img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.movie-title {
  font-size: 18px;
  color: #3474eb;
  margin-bottom: 10px;
}

.movie-rating {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
      margin-top: 20px;
      font-size: 24px;
  }

  #search-container {
      margin: 20px 0;
  }

  #search-input {
      max-width: 350px;
  }

  #search-button {
      max-width: 100%;
  }

  .movie {
      width: calc(50% - 20px);
      margin: 10px;
  }
    
  #line-img {
      margin-left: 40px;
  }

  #github-img {
      margin-left: 17px;
  }

  #imdb-img {
      margin-left: 17px;
  }
}